[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "/Users/michael/.tmux/plugins/tpm"]
	path = /Users/michael/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
